.hero__back {
    background-color: var(--second-background-color);
}

.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero.jpg');
     &__title {
            margin-left: auto;
            margin-right: auto;
            width: 696px;
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            letter-spacing: 0.06em;
            color: var(--second-text-color);
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 30px;
        }
}
