.personal-title {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--color-title);
}

.personal-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.text::before {
    display: block;
    content: '';
    height: 120px;
    background-color: var(--second-color-button);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}

.text:nth-child(1)::before {
    background-image: url(../images/features/antenna.svg);
    background-size: 70px;
}

.text:nth-child(2)::before {
    background-image: url(../images/features/clock.svg);
    background-size: 70px;
}

.diagram::before {
    background-image: url(../images/features/diagram.svg);
    background-size: 70px;
}

.astronaut::before {
    background-image: url(../images/features/astronaut.svg);
    background-size: 70px;
}

@media screen and (min-width: 768px) {
    .personal-item {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    .personal-title {
        text-align: left;
    }

    .personal-table {
        width: calc((100% - 2 * 30px) / 2);
        margin: 15px;
    }
}

@media screen and (min-width: 1200px) {
    .personal-item {
        display: flex;
        flex-wrap: nowrap;
    }

    .personal-title {
        text-align: left;
    }
}