:root {
    --color-text: #757575;
    --color-title: #212121;
    --accent-color-text: #2196f3;
    --second-text-color: #ffffff;
    --background-color: #ffffff;
    --second-background-color: #2f303a;
    --foter-contact-color: rgba(255, 255, 255, 0.6);
    --color-logo: #000000;
    --second-color-button: #f5f4fa;
}